$fontsHeader: 'Roboto', sans-serif;

body {
  padding: 0;
  margin: 0;

}

.wrapper-cap {
  font-family: $fontsHeader;
  height: 100vh;
  background-image: url("./img/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;

  .container-cap {
    width: 1440px;
    height: auto;
    padding: 0 15px;

    .header-cap {
      display: flex;
      justify-content: flex-end;

      .message-cap {

        .message-cap__h1 {
          font-size: 18px;
          padding: 0;
          margin: 0;
          font-weight: 700;


          @media(max-width: 480px) {
            font-size: 12px;
          }
        }

        .message-cap__address {
          line-height: 25px;

          .message-cap__addres__p {
            font-weight: bolder;

            .message-cap__addres__p__span {
              font-weight: lighter;
            }
          }

          .message-cap__address__phone-link {
            text-decoration: none;
            color: #ffffff;
          }
        }
      }
    }
  }
}